<!DOCTYPE html>

<html>
<head>
    <title>
        History of Transaction
    </title>
    <link rel="stylesheet" href="http://semantic-ui.com/dist/semantic.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true" />
    <meta charset="UTF-8">
    <style type="text/css">
      .ui.menu{
        height:40px;
      }
      body{
        margin:10px 40px 0 40px;
      }
      .ui.segment{
        width:400px;
      }

      </style>
</head>
<body style="margin:10px 40px 0 40px;">
<div id="menu" class="ui red menu">
  <div class="ui container">
    <a class="active item" href="/home">Home</a>
    <% if(!user.truck.name){%>
    <a class="item" href="/profile">Profile</a>
    <% } %>
        <% if(!user.truck.name){%>
      <a class="item" href="/trucklist">Order now!</a>
    <% } %>
  
            <div class="item">
          <form class="ui action input" action='/search' method="POST">
            <input type="text" name='keyword' placeholder="Search food or type">
            <input class="ui teal button" type='submit' value='Search'></input>
          </form>
        </div>
    <div class="right menu">
    <div class="item">
        Welcome! <%= user.username %>
      </div>
      <div class="item">
        <a class="ui primary button" href="/logout">Log out</a>
      </div>
    </div>
  </div>
</div>  
<% if(user.orders.length == 0) {%>
<div class="ui blue center aligned segment">
No Order History Yet!
</div>
 <% } %>
 <div class="ui grid">
  <div class="three column row">
    
 <% for(var i=0; i<user.orders.length; i++) {%>

     <div class="column">
     <h class='ui big orange header'>ORDER# <%= i + 1%></h><br>
 <h class='ui small blue header'><%= user.orders[i].date.toString()%></h><br>
 <h class='ui small green header'>Order ref <%= user.orders[i].number %></h><br>
 <h class='ui small red header'>Order at <%= user.orders[i].truck %></h><br>
                    <table class="ui table">
                      <thead>
                            <tr><th>Your Order</th><th>Price</th><th>Quantity</th></tr>
                        </thead>
                        <tfoot>
                            <tr><th colspan="3" class='ui center green aligned header'>Total <span class="checkout__total">
                            $<%= user.orders[i].total %>
                            </span></th></tr>
                        </tfoot>
                        <tbody>
                        <% for(var j=0; j<user.orders[i].order.length; j++) {%>                        <tr><td><strong class="ui red header"><%= user.orders[i].order[j].food %></strong> </td><td>$<%= user.orders[i].order[j].price %></td><td><%= user.orders[i].order[j].quantity %></td></tr>                                                      <% } %>

                      </tbody>
                    </table><!-- /checkout__summary -->

    </div>   
 <% } %>
</div>
</div>
</body>
</html>